.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid #CEB186;
}
.footer .container div {
  display: flex;
  gap: 0.7rem;
}
.footer .container a ,
.footer .container span {
  color: #CEB186;
}
@media (max-width:992px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    justify-content: space-between;
    margin-top: 4rem;
    padding-bottom: 2.4rem;
  }
}