.footer .containerr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.footer .containerr div {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.logo {
  margin-bottom: 1.4rem;
}

.footer .container a ,
.footer .container .FiPhone,
.footer .container span {
  color: rgba(182, 135, 77, 1);
}

.pragraph {
  text-align: center;
  padding: 1.6rem 0;
  border-top: 1px solid #CEB186;
}


@media (max-width:992px) {
  .footer .containerr {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    justify-content: space-between;
    margin-top: 4rem;
    padding-bottom: 2.4rem;
  }
  .logo {
    margin-bottom: 0rem;
  }
}